// COLOURS
$sspColour01: #EDDED0;
$sspColour02: #EFA118;
$sspColour03: #372615;
$sspColour04: #ED1C24;
$sspColour05: #FABCAD;


// SIZES
$fullWidth: 100%;
$pageWidth: 1440px;

    // SIZES--SPACING
    $spaceUltraThin: 0.25rem;
    $spaceThin: 0.5rem;
    $spaceRegular: 1rem;
    $spaceMedium: 1.5rem;
    $spaceThick: 2rem;
    $spaceUltraThick: 3rem;

// FONTS


// TRANSITIONS
$tranSimple: 0.3s ease-out all;